<!DOCTYPE html>
<html lang="us">
<head>
    <title>Best calculator</title>
    <link rel="stylesheet" href="public/stylesheets/main.css">
    <script src="/javascript/Javascript.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin: unset; background-color: #5b8154">
<div class="row">
    <div class="column middle" id="MainContainer" style="background-color: #807474; height: 100vh; position: relative">
        <div class="row" style="width: 100%; height: 40px; background-color: #857351">

        </div>

        <h1 style="padding-left: 28px" class="mainText">Rectangle app</h1>
        <button style="width: 132px; margin-left: 29px" onclick="goBack()">Back</button>
        <form action="/addNewRectangle" method="post" onsubmit="return validation('myButton')">
        <div class="row" id="Container" style="width: 70%; height: 650px; background-color: #d3d3d5; margin-left: 30px" ;>
            <div class="column" style="color: #000000; padding-top: 20px; width: 100%">
                <h2 style="padding-left: 15px">Adding new rectangle</h2>
            </div>

            <div style="padding: 0 15px 0 15px">

                <table style="width:100%; border: 1px solid gray" >
                    <tr style="height: 30px" secondId="position">
                        <th style="width: 13%; background-color: #e8e4e4; color: #0a0a0a">Name</th>
                        <th style="width: 13%; background-color: #e8e4e4; color: #0a0a0a">Color</th>
                        <th style="width: 13%; background-color: #e8e4e4; color: #0a0a0a">Width</th>
                        <th style="width: 13%; background-color: #e8e4e4; color: #0a0a0a">Height</th>
                        <th style="width: 13%; background-color: #e8e4e4; color: #0a0a0a">Border Color</th>
                    </tr>
                    <th style="width: 20%; color: #494b4c; height: 30px">
                        <input type="text" id="name" name="name" style=" width: 150px!important;">
                    </th>
                    <th style="width: 20%; color: #494b4c; height: 30px">
                        <select id="color" name="color" style="width: 150px">
                            <option selected disabled hidden>choose option</option>
                            <option value="red">Red</option>
                            <option value="black">Black</option>
                            <option value="blue">Blue</option>
                            <option value="aqua">Aqua</option>
                            <option value="navy">Navy</option>
                            <option value="purple">Purple</option>
                            <option value="lime">Lime</option>
                            <option value="yellow">Yellow</option>
                            </select></th>
                    <th style="width: 20%; color: #494b4c; height: 30px">
                        <input id="width" name="width" type="number">
                    </th>
                    <th style="width: 20%; color: #494b4c; height: 30px">
                        <input id="height" name="height" type="number">
                    </th>
                    <th style="width: 20%; color: #494b4c; height: 30px">
                        <select id="bordercolor" name="bordercolor" style="width: 150px">
                            <option selected disabled hidden>choose option</option>
                            <option value="red">Red</option>
                            <option value="black">Black</option>
                            <option value="blue">Blue</option>
                            <option value="aqua">Aqua</option>
                            <option value="navy">Navy</option>
                            <option value="purple">Purple</option>
                            <option value="lime">Lime</option>
                            <option value="yellow">Yellow</option>
                        </select>
                    </th>

                </table>
            </div>
            <div class="row" style="width: 100%; padding-left: 15px; padding-top: 30px">
                <button style="width: 132px" type="submit" id="myButton">Add</button>
            </div>
        </div>
        </form>

        <div class="row" style="width: 100%; height: 40px; background-color: #857351; position: absolute; bottom: 0">

        </div>
    </div>
</div>



</body>
</html>